* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    overflow-x: auto;
}
.users-title {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT';
    margin-bottom: 2rem;
}
.create-user {
    text-align: center;
    display: block;
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #F48225;
    border: none;
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Gill Sans MT';
}
.responsive-table {
    border-spacing: 0;
    max-width: 90%;
    min-width: 80%;
    margin: auto;
    padding: 1rem;
}
.responsive-table tr {
    border-radius: 3px;
    padding: 2rem;
    margin-bottom: 25px;
    text-align: left;
}
.table-header {
    background-color: #047bb3;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
.table-header th {
    padding: 1rem;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.table-row td {
    padding: 1rem;
}

.go-back {
    font-family: 'Gill Sans MT';
    background-color: #0051ff;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 15px;
    border: none;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 2rem;
}
.go-back:hover {
    text-decoration: underline;
}
.form-container {
    padding: 0 5rem;
}
.user-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}
#name {
    grid-row: 1;
    grid-column: 1 / 3;
}
#username {
    grid-row: 1;
    grid-column: 3 / 4;
}
#email {
    grid-row: 1;
    grid-column: 4 / 6;
}
.user-form input {
    color: #fff;
    border: none;
    background-color: #F48225;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT';
}
.user-form input::placeholder {
    color: rgba(255, 255, 255, 0.753);
}
.user-form input:focus-visible {
    outline: none;
}
.address-title {
    grid-row: 2;
    grid-column: 2 / 3;
    color: #fff;
    background-color: #047bb3;
    border-radius: 30px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-align: center;
}
#street {
    grid-row: 2;
    grid-column: 3 / 5;
}
#city {
    grid-row: 2;
    grid-column: 6 / 7;
}
#suite {
    grid-row: 2;
    grid-column: 5 / 6;
}
.company-title {
    grid-row: 3;
    grid-column: 4 / 5;
    color: #fff;
    background-color: #047bb3;
    border-radius: 30px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-align: center;
}
#companyName {
    grid-row: 3;
    grid-column: 5 / 7;
}
#catchPhrase {
    grid-row: 4;
    grid-column: 1 / 4;
}
.save-title {
    grid-row: 4;
    grid-column: 5 / 7;
    border: none;
    color: #fff;
    background-color: #049c0b;
    border-radius: 30px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-align: center;
    cursor: pointer;
}
.error-msg {
    background-color: rgba(255, 86, 86, 0.74);
    color: #fff;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    padding: 0.3rem 1rem 0.3rem 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT';
}
.success-msg {
    background-color: rgba(66, 216, 66, 0.74);
    color: #fff;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    padding: 0.3rem 1rem 0.3rem 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT';
}
.close-msg {
    color: #fff;
    font-size: 1.7rem;
    filter: drop-shadow(0px 0px 3px #fff);
    margin-left: 2rem;
}
.close-msg:hover {
    filter: unset;
    cursor: pointer;
}

/* LOADING */
.lds-ring {
    display: inline-flex;
    height: 13px;
}
.lds-ring div {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: 1rem;
    border: 3px solid #fff;
    border-radius: 100%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  